.c-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #EDEDED;
}

.wrapper {
  width: 76vw;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction {
  width: 500px;
  height: 640px;
  text-align: center;
  margin-right: 100px;
}

.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  margin: 255px 0 25px;
}

.fa-fire {
  color: #EF473B;
  font-size: 35px;
  margin: 0 5px;
}

.text {
  width: 100%;
  font-size: 18px;
}

.br-s {
  display: none;
}

.c-box {
  max-width: 500px;
  height: 640px;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.3);
  box-sizing: border-box;
  padding: 10px 15px;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.c-grid__answer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  padding: 10px 16px 0;
}

.p-chat__bubble {
  background: #EDEDED;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  padding: 8px 10px;
  margin-right: 1rem;
  max-width: 80%;
  width: auto;
}

.p-chat__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0 !important;
}

.p-chat__reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 0 !important;
}

.p-question__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.p-question__description {
  font-size: 1rem;
  letter-spacing: .125rem;
  line-height: 1.7;
}

.modal-video-movie-wrap {
  padding: 0 !important;
}

.modal-video-close-btn {
  display: none;
}

.MuiPaper-root {
  width: 100%;
  height: 460px;
}

iframe {
  width: 100%;
  height: 460px;
}

@media (max-width: 1024px) {

  .wrapper {
    width: 94vw;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .introduction {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .title {
    font-size: 20px;
    margin: 0 0 15px;
  }

  .fa-fire {
    font-size: 30px;
  }
  
  .text {
    font-size: 16px;
  }

  .br-s {
    display: block;
  }

  .c-box {
    width: 100%;
    height: 75vh;
    margin: 0 auto;
  }

  .MuiPaper-root {
    width: 100%;
    height: 35vh;
  }

  iframe {
    width: 100%;
    height: 35vh;
  }
}